<!DOCTYPE html>
<html>
<head>
    <title>Chat Application</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io();

            socket.on('connect', function() {
                var username = prompt('Enter your username:');
                var room = 'general';
                socket.emit('join', {'username': username, 'room': room});
            });

            socket.on('message', function(msg) {
                var messageContainer = document.getElementById('messages');
                var messageElement = document.createElement('li');
                messageElement.textContent = msg;
                messageContainer.appendChild(messageElement);
            });

            function sendMessage() {
                var messageInput = document.getElementById('messageInput');
                var message = messageInput.value;
                socket.send(message);
                messageInput.value = '';
            }

            document.getElementById('sendButton').onclick = sendMessage;
        });
    </script>
</head>
<body>
    <ul id="messages"></ul>
    <input id="messageInput" autocomplete="off"/><button id="sendButton">Send</button>
</body>
</html>
